/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.active {
  background-color: darkorchid !important;
  color: white !important;
  margin-left: 2px;
  margin-right: -2px;
  padding-bottom: 2px !important;
}

.inactive {
  background-color: white !important;
  color: black !important;
  box-shadow: 2px 3px 0px black;
}

.part{
  border-bottom: 3px solid black;
  padding: 5px;
  margin-top: -15px;
}

.part button:hover{
  background-color: greenyellow !important;
  border: 3px solid black !important;
}


.beat-button {
  border: 3px solid black;
  width: 35px;
  height: 60px;
  padding: 0;

  margin-bottom: 2px;
}

.part button:focus{
  background-color: none;
}

footer {
  position: fixed;
  bottom: 0;
}

.hidden {
  display: none;
}

.tab {
  border-left: 3px solid black !important;
  border-right: 3px solid black !important;
  border-bottom: 3px solid black !important;
  background-color: white !important;
  cursor: pointer;
  display: inline-block;
  width: 90px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
  text-align: center;
  font-weight: bold;
}


.active_tab {
  border-top: 3px solid white;
  margin-top: -3px;
  cursor: default;
  background-color: white !important;
}

.tab:hover {
  background-color:greenyellow !important;
}

.active_tab:hover {
  background-color: white !important;
}

.current-beat {
  box-shadow: 2px 2px 2px red !important;
  
}

#machine {
  margin-top: 100px;
}

#play_button{
  font-size: 60px;
  cursor: pointer;
}

#play_button:hover{
  color: greenyellow;
}

.demo {
  font-size: 30px !important;
  cursor: pointer;
  width: 73px;
  padding-left: 15px;
  display: none !important;
}

#expander {
  font-size: 50px !important;
  cursor: pointer;
  float: right;
}

#expander:hover{
  color: greenyellow;
}

.demo:hover{
  color: greenyellow;
}

hr {
  width: 3px; 
  height: 20px; 
  margin-left: 2px;
  margin-right: -2px;
  display: inline-block;
  background-color: black;
}

.label {
  min-width: 80px;
  font-weight: bold;
  display: inline-block;
}

.label:hover{
  color: greenyellow;
  cursor: pointer;
}

.user_count{
  font-weight: bold;
  font-size: small;  
}

.info{
  margin-top: 150px;
}

a{
  color: darkorchid;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .demo {
    display: inline-block !important;
  }
}